:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --btn-bg: #0d6efd;
  --btn-text: #ffffff;
  --active-bg: rgba(0, 0, 0, 0.05);
  --navbar-border: rgba(0, 0, 0, 0.08); /* Light theme border */
}

[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #f0f0f0;
  --btn-bg: #0d6efd;
  --btn-text: #ffffff;
  --active-bg: rgba(255, 255, 255, 0.08);
  --navbar-border: rgba(255, 255, 255, 0.12); /* Dark theme border */
}



body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}
